<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sixdoctors.doctor.dao.DoctorPatientDAO">
    <resultMap id="doctorPatient" type="cn.sixdoctors.doctor.model.DoctorPatient">
        <id column="doctor_patient_id" property="doctorPatientId" jdbcType="INTEGER"/>
        <result column="doctor_id" property="doctorId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="doctor_name" property="doctorName" jdbcType="VARCHAR"/>
        <result column="patient_name" property="patientName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="cn.sixdoctors.doctor.model.DoctorPatient" useGeneratedKeys="true"
            keyProperty="doctor_patient_id">
        INSERT INTO
        t_doctor_patient
        (doctor_id, patient_id, doctor_name, patient_name, status)
        VALUES
        (#{doctorId}, #{patientId}, #{doctorName}, #{patientName}, #{status})
    </insert>

    <select id="findByDoctorId" parameterType="int" resultMap="doctorPatient">
        SELECT doc_patient_id, doctor_id, patient_id, doctor_name, patient_name, status
        FROM t_doctor_patient
        WHERE
        doctor_id = #{doctorId}
    </select>

    <select id="findByPatientId" parameterType="int" resultMap="doctorPatient">
        SELECT doc_patient_id, doctor_id, patient_id, doctor_name, patient_name, status
        FROM t_doctor_patient
        WHERE
        patient_id = #{patientId}
    </select>

    <select id="findByDoctorName" parameterType="string" resultMap="doctorPatient">
        SELECT doc_patient_id, doctor_id, patient_id, doctor_name, patient_name, status
        FROM t_doctor_patient
        WHERE
        doctor_name LIKE CONCAT('%',#{doctorName},'%')
    </select>

    <select id="findByPatientName" parameterType="string" resultMap="doctorPatient">
        SELECT doc_patient_id, doctor_id, patient_id, doctor_name, patient_name, status
        FROM t_doctor_patient
        WHERE
        patient_name LIKE CONCAT('%',#{0},'%')
    </select>

    <update id="update" parameterType="cn.sixdoctors.doctor.model.DoctorPatient">
        UPDATE t_doctor_patient
        <set>
            <if test="doctorId != 0">
                doctor_id = #{doctorId},
            </if>
            <if test="patientId != 0">
                patient_id = #{patientId},
            </if>
            <if test="doctorName != null and doctorName != ''">
                doctor_name = #{doctorName},
            </if>
            <if test="patientName != null and patientName != ''">
                patient_name = #{patientName},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </set>
        WHERE doc_patient_id = #{doctorPatientId}
    </update>

</mapper>