<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sixdoctors.doctor.dao.PatientDTODAO">
    <resultMap id="patientDTOMap" type="cn.sixdoctors.doctor.vo.PatientVO">
        <id column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="doctor_name" property="doctorName" jdbcType="VARCHAR"/>
        <result column="patient_name" property="patientName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="" property="patientIntention" jdbcType="VARCHAR"/>
        <result column="photoPath" property="patientAvatar" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByDoctorId" parameterType="int" resultMap="patientDTOMap">
        SELECT dp.patient_id, dp.doctor_name, dp.patient_name, dp.status, p.photoPath
        FROM t_doctor_patient dp
        LEFT JOIN
        t_patient p
        ON
        dp.patient_id = p.patient_id
        WHERE
        dp.doctor_id = #{doctorId}
    </select>

</mapper>