<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sixdoctors.doctor.dao.PatientInfoDTODAO">
    <resultMap id="patientInfoDTOMap" type="cn.sixdoctors.doctor.vo.PatientInfoVO">
        <id column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="patient_name" property="patientName" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="mobPhone" property="mobPhone" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="identity_type" property="identityType" jdbcType="VARCHAR"/>
        <result column="identity_num" property="identityNum" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="photoPath" property="avatar" jdbcType="VARCHAR"/>
        <result column="therapyCount" property="therapyCount" jdbcType="INTEGER"/>
        <collection property="therapies" javaType="java.util.List" ofType="cn.sixdoctors.doctor.vo.TherapyVO">
            <id column="therapy_id" property="therapyId" jdbcType="INTEGER"/>
            <result column="doctor_id" property="doctorId" jdbcType="INTEGER"/>
            <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
            <result column="state" property="state" jdbcType="VARCHAR"/>
            <result column="date" property="date" jdbcType="TIMESTAMP"/>
            <result column="record" property="record" jdbcType="BLOB"/>
            <result column="doctor_name" property="doctorName" jdbcType="VARCHAR"/>
            <result column="patient_name" property="patientName" jdbcType="VARCHAR"/>
            <collection property="photos" javaType="java.util.List" ofType="cn.sixdoctors.doctor.model.Case">
                <id column="case_id" property="caseId" jdbcType="INTEGER"/>
                <result column="therapy_id" property="therapyId" jdbcType="INTEGER"/>
                <result column="casePath" property="casePath" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findByPatientId" parameterType="int" resultMap="patientInfoDTOMap">
        SELECT p.patient_id, p.patient_name, p.gender, p.mobPhone, p.age, p.identity_type, p.identity_num, p.address, p.place, p.photoPath,
        th.therapy_id, th.doctor_id, th.patient_id, th.state, th.date, th.record,dp.doctor_name, dp.patient_name,
        c.case_id, c.therapy_id, c.casePath,
        ( SELECT COUNT( * ) FROM t_therapy WHERE t_therapy.patient_id = p.patient_id ) as therapyCount
        FROM t_patient p
        LEFT JOIN
        t_therapy th
        ON
        p.patient_id = th.patient_id
        LEFT JOIN t_doctor_patient dp
        ON th.doctor_id = dp.doctor_id AND th.patient_id = dp.patient_id
        LEFT JOIN
        t_case c
        ON
        th.therapy_id = c.therapy_id
        WHERE
        p.patient_id = #{patientId}
    </select>

</mapper>