<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sixdoctors.doctor.dao.DepartmentDAO">
    <resultMap id="department" type="cn.sixdoctors.doctor.model.Department">
        <id column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>