<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sixdoctors.doctor.dao.TherapyDAO">
    <resultMap id="therapy" type="cn.sixdoctors.doctor.model.Therapy">
        <id column="therapy_id" property="therapyId" jdbcType="INTEGER"/>
        <result column="doctor_id" property="doctorId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="TIMESTAMP"/>
        <result column="record" property="record" jdbcType="BLOB"/>
    </resultMap>

    <resultMap id="therapyDTO" type="cn.sixdoctors.doctor.vo.TherapyVO">
        <id column="therapy_id" property="therapyId" jdbcType="INTEGER"/>
        <result column="doctor_id" property="doctorId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="TIMESTAMP"/>
        <result column="record" property="record" jdbcType="BLOB"/>
        <result column="doctor_name" property="doctorName" jdbcType="VARCHAR"/>
        <result column="patient_name" property="patientName" jdbcType="VARCHAR"/>
        <collection property="photos" javaType="java.util.List" ofType="cn.sixdoctors.doctor.model.Case">
            <id column="case_id" property="caseId" jdbcType="INTEGER"/>
            <result column="therapy_id" property="therapyId" jdbcType="INTEGER"/>
            <result column="casePath" property="casePath" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <insert id="insert" parameterType="cn.sixdoctors.doctor.model.Therapy" useGeneratedKeys="true"
            keyProperty="therapyId">
        INSERT INTO
        t_therapy
        (doctor_id, patient_id, state, date, record)
        VALUES
        (#{doctorId}, #{patientId}, #{state}, #{date}, #{record});

        UPDATE t_doctor_patient
        <set>
            <if test="state != null and state != ''">
                t_doctor_patient.status = #{state}
            </if>
        </set>
        WHERE t_doctor_patient.doctor_id = #{doctorId} AND t_doctor_patient.patient_id = #{patientId}
    </insert>

    <select id="findByDoctorId" parameterType="int" resultMap="therapy">
        SELECT therapy_id, doctor_id, patient_id, state, date, record
        FROM t_therapy
        WHERE
        doctor_id = #{doctorId}
    </select>

    <select id="findById" parameterType="int" resultMap="therapy">
        SELECT therapy_id, doctor_id, patient_id, state, date, record
        FROM t_therapy
        WHERE
        therapy_id = #{therapy_Id}
    </select>

    <select id="findByPatientId" parameterType="int" resultMap="therapy">
        SELECT therapy_id, doctor_id, patient_id, state, date, record
        FROM t_therapy
        WHERE
        patient_id = #{patient_Id}
    </select>

    <select id="findDTOByPatientId" parameterType="int" resultMap="therapyDTO">
        SELECT th.therapy_id, th.doctor_id, th.patient_id, th.state, th.date, th.record,
        dp.doctor_name, dp.patient_name,c.case_id, c.therapy_id, c.casePath
        FROM t_therapy th
        LEFT JOIN t_doctor_patient dp
        ON th.doctor_id = dp.doctor_id AND th.patient_id = dp.patient_id
        LEFT JOIN t_case c
        ON th.therapy_id = c.therapy_id
        WHERE
        th.patient_id = #{patient_Id}
    </select>

    <update id="update" parameterType="cn.sixdoctors.doctor.model.Therapy">
        UPDATE t_therapy
        LEFT JOIN
        t_doctor_patient
        ON t_therapy.patient_id = t_doctor_patient.patient_id
        <set>
            <if test="doctorId != 0">
                t_therapy.doctor_id = #{doctorId},
            </if>
            <if test="patientId != 0">
                t_therapy.patient_id = #{patientId},
            </if>
            <if test="state != null and state != ''">
                t_therapy.state = #{state},
                t_doctor_patient.status = #{state},
            </if>
            <if test="date != null">
                t_therapy.date = #{date},
            </if>
            <if test="record != null and record != ''">
                t_therapy.record = #{record},
            </if>
        </set>
        WHERE therapy_id = #{therapyId}
    </update>

</mapper>